.git/**
.gitignore
Dark-Roleplay-Core_Client.launch
Dark-Roleplay-Core_Server.launch
gradlew.bat
script_buildCOMP.cmd
script_buildDECOMP.cmd
script_setupWorkspace.cmd



bin/**
build/**
eclipse/**
gradle/**
run/**
.gradle/**
gradlew
.settings/**

.classpath
.project
